services:
  ui:
    image: "alia2024/ui:latest"
    network_mode: "host"        
    restart: on-failure
  scheduler:
    image: "alia2024/scheduler:latest"
    network_mode: "host"        
    restart: on-failure
  hub:
    image: "alia2024/backend:latest"
    network_mode: "host"        
    restart: on-failure
    command: ["poetry", "run", "uvicorn", "hub:app", "--host", "0.0.0.0", "--port", "8001"]
  driver:
    image: "alia2024/backend:latest"
    network_mode: "host"        
    restart: on-failure
    privileged: true
    command: ["poetry", "run", "uvicorn", "driver:app", "--host", "0.0.0.0", "--port", "8000"]
  db:
    image: "postgres:16.3-alpine3.20"
    network_mode: "host"        
    restart: on-failure
    volumes:
      - db-vol:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: mysecretpassword
      PGDATA: /var/lib/postgresql/data/db-files/
volumes:
  db-vol: